$bodyFont: normal 12px/18px Arial, Helvetica, sans-serif;
$bodyBackgroundColor: #ddbc9b;
$contentBackgroundColor: #fff;
$headingColor: #8d3d00;
$briefBackground: #fadcba;
$tableHeadBackground: #e0e0e0;
$tableBorderStyle: 2px solid #fff;
$tableCellBackground: inherit;
$tableWidth: 80%;
$briefWidth: 300px;
$textColor: #000;
$imgBorderStyle: 3px solid $headingColor;
$heading2Style: italic;
$linkColor: #3f6aa1;
