$bodyFont: normal 15px/20px Georgia, "Times New Roman", Times, serif;
$bodyBackgroundColor: #659a01;
$contentBackgroundColor: #666701;
$headingColor: #ffce10;
$briefBackground: #677d01;
$tableHeadBackground: #94a34e;
$tableCellBackground: #677d01;
$tableBorderStyle: 2px solid #94a34e;
$tableWidth: 100%;
$briefWidth: 100%;
$textColor: #fff;
$imgBorderStyle: 1px solid $textColor;
$heading2Style: normal;
$linkColor: #ffce10;

